NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NVIDIA_API_KEY=
NVIDIA_MODEL=meta/llama-3.3-70b-instruct
NVIDIA_EMBEDDING_MODEL=nvidia/nv-embedqa-e5-v5
SUPABASE_SERVICE_ROLE_KEY=
CRON_SECRET=
NEXT_PUBLIC_YOUTUBE_PLAYLIST_ID=
NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_ID=
NEXT_PUBLIC_YOUTUBE_VIDEO_ID=
NEXT_PUBLIC_GOOGLE_DRIVE_FILE_ID=
